<checkout-steps></checkout-steps>
<div class="col-md-12 col-sm-12 cart-items center" ng-if="cartItems.length == 0">
	<h2>Aucun article au panier.</h2>
</div> 
<div class="col-md-9 col-sm-12 cart-items" ng-if="cartItems.length > 0">
	<div class="col-sm-12 head">
		<label class="col-sm-3">&nbsp;</label>
		<label class="col-sm-2">Date</label>
		<label class="col-sm-2">Lieu</label>
		<label class="col-sm-2">Prix</label>
		<label class="col-sm-2">Quantité</label>
		<label class="col-sm-1">&nbsp;</label>
	</div>

	<article class="col-sm-12 cart-item" ng-repeat="item in cartItems">
		<div class="col-sm-3">
			{{item.show.artist}} - {{item.show.title}}
			<p class="reservation-timer">
				Ces billets vous sont réservés pour encore 
				<strong>{{item.remainingReservationTime | date:'m:ss'}}</strong>.
			</p>
		</div>
		<div class="col-sm-2">
			<p>{{item.date}}</p>
		</div>
		<div class="col-sm-2">
			<p>{{item.show.room}}</p>
		</div>
		<div class="col-sm-2">
			{{item.show.price}} $
		</div>
		<div class="col-sm-2">
			<input type="number" class="form-control input-lg" ng-model="item.quantity" min="1" max="6" />
		</div>
		<div class="col-sm-1 actions">
			<a class="btn btn-goevents btn-lg"> x</a>
		</div>
	</article>
</div>

<div class="col-md-3 col-sm-12 subtotal-container" ng-if="cartItems.length > 0">
	<h3>Sous-total : </h3>
	<div class="subtotal">
		<span><sup class="dollar-sign">$</sup>59<sup class="cents">97</sup></span>
	</div>
	<a class="btn btn-goevents btn-lg btn-continue" href="panier-identification.html">Continuer <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
</div>