<checkout-steps></checkout-steps>
<div class="col-sm-5 identication-federation">
	<h2>Portefeuille de billets</h2>
	<p>Si vous possédez un compte sur le site de portefeuille de billets, vous pouvez vous authentifier directement via leur système.</p>
	<a ng-click="delegateAuth()" class="btn btn-goevents btn-lg btn-continue">S'authentifier <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
</div>
<div class="col-sm-2 identification-or">
	<h3>- ou -</h3>
</div>
<div class="col-sm-5 pull-right identification-anon">
	<h2>Je n'ai pas de compte, je veux juste avoir mes billets %$#!@ !</h2>
	<p>Vous pouvez aussi obtenir vos billets en fournissant vos coordonnées.</p>
	<a class="btn btn-goevents btn-lg btn-continue" href="panier-formulaire-anonyme.html">Fournir ses coordonnées <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
</div>