<checkout-steps></checkout-steps>

<div class="col-sm-4 col-sm-offset-1 subtotal-container center payment">
	<h2>TOTAL</h2>
	<div class="subtotal">
		<span><sup class="dollar-sign">$</sup>{{currentCart.total.dollars}}<sup class="cents">{{currentCart.total.cents}}</sup></span>
	</div>
</div>
<form name="paymentForm" class="col-lg-4 col-sm-6 col-sm-7 payment-form">
	<div class="col-sm-12">
		<h2>Informations de paiement</h2>
	</div>

	<div class="col-sm-6">
		<input type="text" class="form-control input-lg" 
			placeholder="Prénom" 
			required="required" 
			validator="required" 
			name="cardFirstName" 
			ng-model="payment.credit_card.first_name" 
			valid-method="blur" 
			required-error-message="Le prénom est requis." 
		/>
	</div>
	<div class="col-sm-6">
		<input type="text" class="form-control input-lg" 
			placeholder="Nom de famille" 
			required="required" 
			validator="required" 
			name="carFirstName" 
			ng-model="payment.credit_card.last_name" 
			valid-method="blur" 
			required-error-message="Le nom est requis." 
		/>
	</div>

	<div class="col-sm-9">
		<input type="text" class="form-control input-lg" 
			placeholder="Numéro de carte de crédit" 
			required="required" 
			validator="required, number, maxlength=16, minlength=16" 
			name="cardNumber" 
			ng-model="payment.credit_card.number" 
			valid-method="blur" 
			required-error-message="Le numéro de est requis." 
			number-error-message="Seuls des chiffres sont permis." 
			maxlength-error-message="Le numéro devrait comporter 16 chiffres."
			minlength-error-message="Le numéro devrait comporter 16 chiffres."
		/>
	</div>
	<div class="col-sm-3">
		<input type="text" class="form-control input-lg" 
			placeholder="CVV" 
			required="required" 
			validator="required, number, maxlength=3, minlength=3" 
			name="cardCvv" 
			ng-model="payment.credit_card.cvv" 
			valid-method="blur" 
			required-error-message="Le CCV est requis." 
			number-error-message="Seuls des chiffres sont permis." 
			maxlength-error-message="Le numéro devrait comporter 16 chiffres."
			minlength-error-message="Le numéro devrait comporter 16 chiffres."
		/>
	</div>
	<div class="col-sm-6">
		<select class="form-control input-lg"
			required="required" 
			validator="required" 
			name="expirationMonth" 
			ng-model="payment.credit_card.expiration_month" 
			valid-method="blur" 
			required-error-message="Le mois d'expiration est requis." 
		>
			<option value="">- Mois d'expiration -</option>
			<option value="1">01</option>
			<option value="2">02</option>
			<option value="3">03</option>
			<option value="4">04</option>
			<option value="5">05</option>
			<option value="6">06</option>
			<option value="7">07</option>
			<option value="8">08</option>
			<option value="9">09</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
		</select>
	</div>
	<div class="col-sm-6">
		<select class="form-control input-lg"
			required="required" 
			validator="required" 
			name="expirationYear" 
			ng-model="payment.credit_card.expiration_year" 
			valid-method="blur" 
			required-error-message="L'année d'expiration est requise." 
		>
			<option value="">- Année d'expiration -</option>
			<option value="2016">2016</option>
			<option value="2017">2017</option>
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			<option value="2020">2020</option>
			<option value="2021">2021</option>
			<option value="2022">2022</option>
		</select>
	</div>
	<div class="col-sm-12">
		<hr/>
		<a ng-click="validatePayment()" class="btn btn-goevents btn-lg pull-right">Préautoriser le paiement<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
	</div>
</form>