<checkout-steps></checkout-steps>
<div class="col-md-12 col-sm-12 cart-items center" ng-if="currentCart.items.length == 0">
	<h2>Aucun article au panier.</h2>
</div> 
<div class="col-md-9 col-sm-12 cart-items" ng-if="currentCart.items.length > 0">
	<div class="col-sm-12 head">
		<label class="col-sm-3">&nbsp;</label>
		<label class="col-sm-2">Date</label>
		<label class="col-sm-2">Lieu</label>
		<label class="col-sm-2">Prix</label>
		<label class="col-sm-2">Quantité</label>
		<label class="col-sm-1">&nbsp;</label>
	</div>

	<article class="col-sm-12 cart-item" ng-repeat="item in currentCart.items">
		<div class="col-sm-3">
			{{item.show.artistName}} - {{item.show.name}}
			<p class="reservation-timer">
				Ces billets vous sont réservés pour encore 
				<strong>{{item.remainingReservationTime | date:'m:ss'}}</strong>.
			</p>
		</div>
		<div class="col-sm-2">
			<p>{{item.date | date:'dd/MM/yyyy'}}</p>
		</div>
		<div class="col-sm-2">
			<p>{{item.theater.name}}</p>
		</div>
		<div class="col-sm-2">
			{{item.price}} $
		</div>
		<div class="col-sm-2">
			<input type="number" class="form-control input-lg" ng-model="item.quantity" min="0" max="6" ng-change="changeItemQuantity(item, '{{item.quantity}}')" ng-model-options="{ debounce: 1000 }"/>
		</div>
		<div class="col-sm-1 actions">
			<a class="btn btn-goevents btn-lg" ng-click="removeItem(item)"> x</a>
		</div>
	</article>
</div>

<div class="col-md-3 col-sm-12 subtotal-container" ng-if="currentCart.items.length > 0">
	<h3>Sous-total : </h3>
	<div class="subtotal">
		<span><sup class="dollar-sign">$</sup>{{currentCart.total.dollars}}<sup class="cents">{{(!currentCart.total.cents) ? '00' : currentCart.total.cents}}</sup></span>
	</div>
	<a class="btn btn-goevents btn-lg btn-continue" ng-click="continue()">Continuer <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
</div>