<div class="col-sm-4 col-sm-offset-1 subtotal-container center payment">
	<h2>TOTAL</h2>
	<div class="subtotal">
		<span><sup class="dollar-sign">$</sup>{{currentCart.total.dollars}}<sup class="cents">{{currentCart.total.cents}}</sup></span>
	</div>
</div>
<form name="paymentForm" class="col-lg-4 col-sm-6 col-sm-7 payment-form">
	<div class="col-sm-12">
		<h2>Informations de paiement</h2>
	</div>
	<div class="col-sm-9">
		<input type="text" class="form-control input-lg" 
			placeholder="Numéro de carte de crédit" 
			required="required" 
			validator="required" 
			name="cardNumber" 
			ng-model="payment.number" 
			valid-method="blur" 
			required-error-message="Le numéro de est requis." 
		/>
	</div>
	<div class="col-sm-3">
		<input type="text" class="form-control input-lg" placeholder="CCV" />
	</div>
	<div class="col-sm-6">
		<select class="form-control input-lg">
			<option value="">- Mois d'expiration -</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
		</select>
	</div>
	<div class="col-sm-6">
		<select class="form-control input-lg">
			<option>- Année d'expiration -</option>
			<option>2016</option>
			<option>2017</option>
		</select>
	</div>
	<div class="col-sm-12">
		<hr/>
		<a class="btn btn-goevents btn-lg pull-right" href="confirmation-oauth.html">Soumettre la commande<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
	</div>
</form>