				<header>
					<h1><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Des spectacles à ne pas manquer</h1>
				</header>
				<div class="row featuring small-gutter">
					<article class="show-item col-sm-6" ng-repeat-start="show in shows">
						<a href="spectacle.html">
							<img alt="image du spectacle" ng-src="images/show-{{show.id}}.jpg" />
							<div class="show-infos">
								<h2>{{show.title}}</h2>
								<h3>{{show.date}} @ {{show.room}}</h3>
							</div>
						</a>
					</article>

					<a ng-if="$index == 2" onclick="window.open('http://google.com');" title="Publicité" class="paraxify col-sm-12" style='background-image:url("images/pseudo-pub-6.jpg")'></a>

					<article class="show-item col-sm-6" ng-if="$index == 0" ng-repeat-end>
						<a href="http://google.com" target="_blank">
							<img alt="Publicité" src="images/pseudo-pub-2.jpg" />
							<div class="show-infos">
								<h3>Publicité</h3>
							</div>
						</a>
					</article>




					<div class="clear"></div>
					<div class="row bottom-actions">
						<a class="btn btn-goevents btn-lg" href="spectacles.html">Voir tous les spectacles <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
					</div>
				</div>