<header>
	<h1><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>{{show.artistName}}</h1>
	<div class="show-metas">

		<h3 ng-if="show.fromDate != show.toDate"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Du {{show.fromDate | date:'dd/MM/yyyy'}} au {{show.toDate | date:'dd/MM/yyyy'}}</h3>
		<h3 ng-if="show.fromDate == show.toDate"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Le {{show.fromDate | date:'dd/MM/yyyy'}}</h3>

		<h3><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <a href="http://maps.google.com?q={{itemOptions.theater.address + ' ' + itemOptions.theater.city + ' ' +itemOptions.theater.zipCode}}" target="_blank">{{itemOptions.theater.name}}</a></h3>
	</div>
</header>

<article class="row show">
	<div class="col-sm-12 col-lg-8">
		<h2>{{show.name}}</h2>
		<div class="show-description" ng-bind-html="show.description">
		</div>
	</div>
	<hr class="visible-sm visible-xs"/>
	{{totalRemainingPlaces}}
	<div class="col-lg-4 col-sm-12 tickets-selection {{(show.totalRemainingPlaces == 0)  ? 'full' : ''}}">
		<div class="tag-full" ng-if="show.totalRemainingPlaces == 0" title="Ce spectacle est à guichet fermé.">COMPLET</div>
		<div class="col-lg-4 col-md-offset-3 col-md-3 col-lg-offset-2 blur-on-full">
			<div class="price">
				<span><sup class="dollar-sign">$</sup>{{itemOptions.dollars}}<sup class="cents">{{(!itemOptions.cents)? '00' : itemOptions.cents}}</sup><span>par billet</span></span>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 nb-tickets-col blur-on-full">
			<input ng-model="itemOptions.quantity" type="number" value="1" max="6" min="1" class="form-control" />
		</div>
		<div class="clear"></div>
		<select class="form-control input-lg blur-on-full" ng-model="itemOptions" ng-change="onPresentationChange()" ng-options="ticket as (ticket.timeinmillis | date:'dd/MM/yyyy') for ticket in show.showPresentationList track by ticket.id">
		</select>
		<a ng-click="addToCart(); $event.stopPropagation();" class="btn btn-lg btn-add btn-block btn-goevents blur-on-full"><span class="glyphicon glyphicon-shopping-cart"></span> Ajouter au panier</a>

		<p class="current-in-cart" ng-if="isTicketInCart();">Vous avez présentement <strong>{{cart.getItemById(itemOptions.id).quantity}}</strong> billets pour cette présentation dans votre panier. Ils vous sont réservés pour encore <strong>{{cart.getItemById(itemOptions.id).remainingReservationTime | date:'m:ss'}}</strong>.</p>
	</div>
	<hr class="visible-sm visible-xs"/>
	<div class="clear"></div>
	<div class="col-sm-12 bottom-actions">
		<a class="btn btn-goevents btn-lg" back-button><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Revenir</a>
	</div>
	<div class="backdrop" >
		<div style='background-image:url("{{show.imageUrl}}")'></div>
	</div>
</article>