<div class="row upperNavigationContainer">
	<ul class="upperNavigation">
		<li title="1" class="externalNavIcon {{steps[0].state}}">
			<a data-guide-toggle="tab" href="#/caisse/revue">
			<span>Revue des items <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
			</a>
			<span class="step-nb">1</span>			
		</li>
		<li title="2" class="externalNavIcon {{steps[1].state}}">
			<a data-guide-toggle="tab" href="panier-identification.html">
			<span>Identification <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
			</a>	
			<span class="step-nb">2</span>		
		</li>
		<li title="3" class="externalNavIcon {{steps[2].state}}">
			<a data-guide-toggle="tab" href="panier-paiement.html">
			<span>Paiement et confirmation <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
			</a> 
			<span class="step-nb">3</span>
		</li>
	</ul>
</div>