<div class="row upperNavigationContainer">
	<ul class="upperNavigation">
		<li title="1" class="externalNavIcon {{steps[0].state}}">
			<a data-guide-toggle="tab" href="#/caisse/revue">
				<span>Revue des items <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
			</a>
			<a href="#/caisse/revue" class="step-nb">1</a>			
		</li>
		<li title="2" class="externalNavIcon {{steps[1].state}}">
			<a data-guide-toggle="tab" href="#/caisse/methode-identification">
				<span>Identification <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
			</a>	
			<a href="#/caisse/methode-identification" class="step-nb">2</a>		
		</li>
		<li title="3" class="externalNavIcon {{steps[2].state}}">
			<a data-guide-toggle="tab" href="#/caisse/informations-paiement">
				<span>Paiement et confirmation <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
			</a> 
			<a href="#/caisse/informations-paiement" class="step-nb">3</a>
		</li>
	</ul>
</div>