<section>


    <h2>Spectacles</h2>
    <div id="liste-spectacles-inactifs">
        <div class="row" ng-repeat="show in shows">
            <div class="col-md-6">
                <h4>
                    <a class="titleShow" href="#/spectacle/{{show.id}}" >
                        {{show.name}} {{(show.isFeatured) ? "(en vedette)" : ""}} {{(!show.active) ? "(inactif)" : ""}}                  
                    </a>
                </h4>
            </div>
            <div class="col-md-6">
                <a href="#/spectacle/{{show.id}}" type="button" class="btn btn-default">Modifier</a>
                <button type="button" class="btn btn-warning">Dupliquer</button>
                <button type="button" class="btn btn-danger">Supprimer</button>
                <!--<span class=" handle glyphicon glyphicon-move" aria-hidden="true"></span>-->
            </div>
        </div>
    </div>


</section>