<section id="salles">
	<h1>Liste des salles</h1>

    <div class="row" ng-repeat="theater in theaters">
        <div class="col-md-6">
            <h4>
                <a class="titleShow" href="#/salle/{{theater.id}}">
                    {{theater.name}}
                </a>
            </h4>
        </div>

        <div class="col-md-6">
            <a href="#/salle/{{theater.id}}" type="button" class="btn btn-default">Modifier</a>
            <a type="button" class="btn btn-danger">Supprimer</a>
        </div>
    </div>

</section>