#admin .footer, #adminLogin .footer {
	position: absolute;
    bottom: 0;
	width: 100%;
    background-color: rgba(16, 16, 16, 0.99);
}

footer .text-muted {
	float: left;
}

footer .navbar-brand {
	padding: 1px 15px;
}