body.page-spectacle {background:url("/maquette-statique/images/film-noise.jpg") repeat;}

.backdrop:before {content: ""; min-width: 100%; min-height: 100%; position: fixed; top:0px; left: 0px; z-index: -1; background-size: cover !important; opacity: 0.06; transition: all 11s; background-repeat: no-repeat; background-position: center center;
	background-image:url("/maquette-statique/images/show-7.jpg");   
	-webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.backdrop {min-width: 100%; min-height: 100%; position: fixed; top:0px; left: 0px; z-index: -1; background-size: cover !important; transition: all 11s; background-repeat: no-repeat; background-position: center center;}

body.page-spectacle {

	.show-metas {
		border-left: 4px solid @pastel-red;
		padding: 8px 0px 2px 12px;
		margin-left: 60px;
		h3 {margin-top: 0px;}

		.glyphicon {position: relative; top: 4px !important;}
		a {color: @almost-white; border-bottom: 1px dotted @pastel-red;}
		a:hover {color: @pastel-red;}

		@media @bp-sm {
			margin-left: 15px;
		}
	}

	.site-nav:not(.sticky) {
		background: fade(@dark-gray, 50%);
	}

	.show { padding: 0px 57px; margin-top: 36px;
		@media @bp-sm {
			padding: 0px 15px;
		}
	}

	hr {width: 75%;}

	.tickets-selection {
		input {
			color: @dark-gray;
			width: 130px;
			padding: 10px 10px 10px 10px;
			height: auto;
			font-size: 72px;
			text-align: right;
			border: none;
			display: inline-block;
			margin: 12px auto 0px;
			color:@almost-white;
			background: none;
			font-weight: 300;
			border-radius: 0px;
			outline: none !important;
			box-shadow: none !important;
		}

		select {max-width: 300px; margin: 36px auto 0px; border-radius: 0px; padding: 0px 0px 0px 90px;}
		option {text-align: center;}
		.btn-add {display: block; margin: 0px auto; max-width: 300px; border-radius: 0px; 
			@media @bp-sm {
				margin-bottom: 32px;
			}
		}
	}

	.price {
		 background-color: rgba(0, 0, 0, 0);
		 border: 2px solid @pastel-red;
		 height: 150px;
		 width: 150px;
		 -moz-border-radius:50%;
		 -webkit-border-radius: 50%;
		 font-size: 48px;
		 text-align: center;
		 letter-spacing: -4px;
		 display: table;
		 margin: 0 auto;
		 position: relative;
		 span {display: table-cell; vertical-align: middle; text-align: center;}
		 span span {font-size: 12px; letter-spacing: 0px; display: block; width: 100%; position: relative; top: -2px;}

		 @media @bp-sm-md {
		 	text-align: left;
		 }

		 @media @bp-sm {
		 	position: relative;
		 	top: 36px;
		 }
	}


	.price:after {
		content: "X";
		font-weight: 300;
		font-size: 42px;
		color: @pastel-red;
		position: absolute;
		bottom: 43px;
		right: -30px;

		@media @bp-sm {
			bottom: -69px;
			right: 97px;
		}
	}

	.nb-tickets-col {
		@media @bp-sm {
			text-align: center;
		}
	}

	.bottom-actions {
		@media @bp-sm {
			margin-top: 72px;
		}
	}

}