body.page-spectacle {background:url("/maquette-statique/images/film-noise.jpg") repeat;}

.backdrop:before {content: ""; min-width: 100%; min-height: 100%; position: fixed; top:0px; left: 0px; z-index: -1; background-size: cover !important; opacity: 0.06; transition: all 11s; background-repeat: no-repeat; background-position: center center;
	background-image:url("/maquette-statique/images/show-3.jpg");   
	-webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.backdrop {min-width: 100%; min-height: 100%; position: fixed; top:0px; left: 0px; z-index: -1; background-size: cover !important; transition: all 11s; background-repeat: no-repeat; background-position: center center;}